p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #252839;
	letter-spacing: 5px;
	margin-top: 0;
	float: left;

}
#subtitle {
	margin-left: 10%;	
}

#cont-display {
	width: 120px;
}

.about {
	color: #252839;
}

.btn-default {
	width: 80px;
	height: 40px;

}

#searchForm {
	margin-left: 50%;
	margin-bottom: 10%;
}

hr {
	width: 900px;
	margin-left: 30%;
	color:#f2b632;
}

#get-location {
	opacity: 0.8;
	width: 50%;
	background-color: #252839;
	color:#f2b632
	
}

#input-location {
	opacity: 0.8;
	background-color: #252839;
	color:#f2b632
	
}

#log-out{
	opacity: 0.8;
	background-color: #252839;
	color:#f2b632
	
}

#log-in {
	opacity: 0.8;
	margin-left: -9%;
	background-color: #252839;
	color:#f2b632

}

#skip-btn{
	opacity: 0.8;
	background-color: #252839;
	color:#f2b632
}

#cont-btn {
	opacity: 0.8;
	background-color: #252839;
	color:#f2b632
}

label {
	color: #252839;
}

h5 {
color: #252839;	
}

#login-user {
	opacity: 0.8;
	background-color: #252839;
	color:#f2b632
}

#submit-new-user {
	opacity: 0.8;
	background-color: #252839;
	color:#f2b632
}

#sign-up {
opacity: 0.8;
margin-right: 100px;
background-color: #252839;
color:#f2b632;	
}

#username {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	margin-left: -10%;
	margin-bottom: 1%;

}



#aboutBody {
	background-image: url(../images/sunset.png);
	background-position: top;
	background-size: cover;
	background-height: 100%;
}

#weatherInfo{
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 20px;
	margin-right: 0;
	margin-top: 0;
	
}

a {
	font-size: 15px;
	color:#252839;
}

  .bioPic {
 	height: 20%;
 	width: 40%;
 } 


#soundcast {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	margin-left: -2%;
	margin-top: 10%;
	color: #252839;
	margin-bottom: 5px;
	letter-spacing: 10px;
	width: auto;
	float: left;

}

#o {
	float: left;
}

.skip {
	margin-top: 10%;
	margin-left: 1%;
	background-color: #f2b632 ;
/* 	background-color: #252839; */
	/* background-image: url(dusk.jpg);
	background-position: 50% 45%; */
	opacity: .8;
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
}

.formLabel {
	color: white;
}

.form-control {
	color: #fff;
}

.user-response{
	margin-left: -99%;
	color: #fff;
}

/* #logout-user, #login-user, #submit-new-user, #input-location {
	background-color: #252839;
	height:20px;
	width:120px;
	padding-bottom:3%;
	color: #f2b632 ;
	opacity: .7;
} */

body {
background-image: url(../images/sunset.png);
background-size: cover;
background-repeat: no-repeat;
}

.panel-default {
	background-image: url(../images/sunset.png);
}

.waves-effect.waves-blue{
	color: ;
	background-color: #f2b632;
}

.divider {
	color: #252839;
	background-color: #f2b632 ;
}

#player {
	float: left;
	margin-top: 7%;
}

.card {
	float: left;
	width: 150%;
	margin-left: -15%;
	background-color: #252839;
	/* background-image: url(dusk.jpg);
	background-position: 50% 45%; */
	opacity: .7;
}

.colFirst {

}

#sun {
	background-image: url(../images/sunBlur.png);
	background-size: cover;
	background-position: center;
}

#snow {
	background-image: url(../images/snowBlur.png);
	background-size: cover;
	background-position: center;
}

.colSecond {

}

.rowOne {
	width: 100%;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 480px) {

#soundcast{
     margin-left: 300%;
}

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  	#get-location{
  		width: 25%
  	}
}